* {
    padding: 5px;
}

span {
    font-weight: bold;
    font-size: 40px;
    color: #f7575d;
}

.centerY {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.custom-border {
    border: 2px solid #f7575d;
    padding: 20px;
    border-radius: 10px;
}

.bgBlueIce {
    background-color: rgba(240, 255, 255, 0.196);
}

.bgBrown {
    background-color: rgba(245, 245, 220, 0.196)
}