* {
  padding: 5px;
}

h1 {
  display: flex;
  justify-content: center;
}

.fixed-container {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.reserved-overlay {
  background-color: rgba(169, 169, 169, 0.5);
}

.bgBlueIce {
  background-color: rgba(240, 255, 255, 0.196) !important;
}